@font-face {
	font-family: "Raleway";
	font-style: normal;
	src: url('../resources/fonts/Raleway.ttf');
}

#catalogVBox {
	-fx-background: #ffffff;
}

#catalogBtn {
	-fx-background-color: #FEC5BB, linear-gradient(#FCD5CE 50%, white 100%),
		radial-gradient(center 50% -40%, radius 200%, #FAE1DD 45%, rgba(230, 230
		, 230, 0) 50%);
	-fx-background-radius: 30;
	-fx-background-insets: 0, 1, 1;
	-fx-text-fill: black;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 3, 0.0, 0, 1);
	-fx-font-weight: bold;
	-fx-padding: 5 10 5 10;
}

#catalogScrollPane {
	-fx-background-insets: 2;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color: #E8E8E4;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: white;
    -fx-background-radius: 5em;
}

#productsLabel {
	-fx-font-weight: bold;
	-fx-font-size: 14px;
	-fx-font-family: "Raleway";
}

#priceLabel {
	-fx-font-weight: bold;
	-fx-font-size: 16px;
}

#catalogCard {
	-fx-background-color: #D8EFDC, linear-gradient(#D8EFDC 50%, white 100%),
		radial-gradient(center 50% -40%, radius 200%, #D8EFDC 45%, rgba(0, 0, 0,
		0) 50%);
	-fx-padding: 5 10 15 10;
	-fx-background-radius: 20;
	-fx-effect: dropShadow(three-pass-box, rgba(0, 0, 0, 0.1), 10.0, 0.0,
		0.0, 10.0);
	-fx-spacing: 3;
}

#catalogGrid {
	-fx-alignment: center;
	-fx-Hgap: 40;
	-fx-Vgap: 40;
	-fx-PrefHeight: 438;
	-fx-PrefWidth: 600;
	-fx-padding: 0 0 0 13;
	-fx-PrefHeight: 438;
}

#filterScrollPane {
	-fx-border-color: #D8EFDC;
	-fx-border-width: 3px;
}

#cartVBox {
	-fx-background-color: #D8EFDC;
	-fx-background-radius: 15;
}