#mainDeliveryVBox {
	-fx-background: #FBF3F1;
	-fx-background-image: url("../connectWallpaper.png");
}

#homeHBox {
	-fx-background-color: #FEE1DC;
	-fx-background-radius: 15;
	-fx-effect: dropShadow(three-pass-box, rgba(0, 0, 0, 0.1), 5.0, 0.0, 0.0,
		5.0);
}

#backBtn, #continueButton {
	-fx-background-color: #F4F4F4;
	-fx-background-radius: 30;
	-fx-background-insets: 0, 1, 1;
	-fx-text-fill: black;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 3, 0.0, 0, 1);
	-fx-font-weight: bold;
	-fx-padding: 5 10 5 10;
	-fx-font-size: 18;
}

#addressFields{
	-fx-background-color: #fcf7f5;
	-fx-border-color: #FEE1DC;
	-fx-border-width: 2px;
}

.combo-box{
	-fx-background-color: #F4F4F4;
	-fx-background-radius: 10;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 3, 0.0, 0, 1);
	-fx-font-weight: bold;
	-fx-font-size: 16;
}

#stars{
	-fx-text-fill: red;
}

* {
	-fx-primary-color: #FEE1DC;
	-fx-secondary-color: #dEc1cC;
	-fx-light-grey-color: #d1d1d1;
    
	-fx-focus-color: -fx-secondary-color;
}

.date-picker .arrow-button {
	-fx-background-color: -fx-primary-color;
	-fx-background-radius: 0;
}
.date-picker .arrow-button:hover {
	-fx-background-color: -fx-secondary-color;
}
.date-picker .arrow-button .arrow {
	-fx-background-color: black;
}
.date-picker .cell {
	-fx-background-color: white;
}
.date-picker .cell:hover {
	-fx-background-color: -fx-light-grey-color;
}
.date-picker .cell:focused {
	-fx-background-color: -fx-light-grey-color;
}
.date-picker .selected {
	-fx-background-color: -fx-primary-color;
	-fx-text-fill: white;
}
.date-picker .selected:focused {
	-fx-background-color: -fx-primary-color;
	-fx-text-fill: white;
}
.date-picker-popup  {
	-fx-border-color: transparent;
}
.date-picker-popup .month-year-pane {
	-fx-background-color: -fx-primary-color;
}
.date-picker-popup .month-year-pane .label {
	-fx-text-fill: black;
}
.date-picker-popup .week-number-cell {
	-fx-text-fill: -fx-secondary-color;
}
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
	-fx-background-color: black;
}