#serverConfigVBox, #rightSideVBox {
	-fx-background-radius: 20;
	-fx-background-color: linear-gradient(from 150px 150px to 0px 0px, FAE0DD, FAE0DD);
	-fx-effect: dropShadow(three-pass-box, rgba(0.2, 0, 0, 0.3), 5.0, 0.0,
		0.0, 5.0);
}

.button {
	-fx-background-color: #F4F4F4;
	-fx-background-radius: 30;
	-fx-background-insets: 0, 1, 1;
	-fx-text-fill: black;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 3, 0.0, 0, 1);
	-fx-font-weight: bold;
	-fx-padding: 5 10 5 10;
}

.label {
	-fx-font-weight: bold;
}

#flower {
	-fx-effect: dropShadow(three-pass-box, rgba(0, 0, 0, 0.3), 5.0, 0.0, 0.0,
		5.0);
}

.text-field{
	-fx-font-size: 14;
	-fx-font-weight: bold;
}